:root {
    --main-black: #1E1C1D;
    --main-yellow: #F5BF00;
    --nav-height: 9rem; /* adjust this value to match the height of your nav */
    --radius: 3px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--main-black);
}

h5, h6 {
    font-weight: bold;
    line-height: 2rem;
}

h5 {
    text-transform: capitalize;
    font-size: 1rem;
}

h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 0.9rem;
    margin: 1rem 0;
}

i{
    cursor: pointer;
    display: block;
}

.nav {
    background-image: url(https://cdn.glitch.global/85974b0f-fe91-442f-8a4c-842253acd2d4/thumbnails%2F13jour600.1.jpg?1681900725388);
    background-size: cover;
    background-position: center;
    padding: 1rem 4rem 2rem;
    min-height: var(--nav-height);
}

.content {
    display: flex;
    width: 100%;
}

.content > * {
    padding-top: 1.5rem;
}

aside {
    width: 20%;
    padding-left: 1rem;
    padding-bottom: 1rem;
}


main {
    width: 80%;
    padding-right: 1rem;
    border-left: 2px solid #c8c8c8;
}

.main-section {
    border-bottom: 2px solid #c8c8c8;
    padding-left: 1rem;
}


.main-section button, button[type="submit"] {
    text-transform: capitalize;
    padding: 0.5rem 1rem;
    border: 1px solid var(--main-black);
    background-color: transparent;
    border-radius: var(--radius);
    cursor: pointer;
    margin-bottom: 1rem;
}

.main-section .active {
    border: 1px solid var(--main-yellow);
    background-color: var(--main-yellow);
    color: white;
}

.main-content {
    padding-left: 1rem;
    padding-top: 1rem;
}

.main-content iframe {
    width: 100%;
    min-height: 100vh;
    border: none;
}

.hygiene-options {
    display: flex;
}

form label {
    font-size: 0.9rem;
    margin-left: 0.3rem;
}

form input[type="text"] {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
}

form input[type="text"]::placeholder {
    color: var(--main-black);
}

.search, select {
    border: 1px solid var(--main-black);
    border-radius: var(--radius);
    padding: 0.6rem;
}

.search {
    width: 80%;
    display: flex;
    align-items: center;
}

select {
    font-size: 0.9rem;
    width: 80%;
    margin-bottom: 0.5rem;
}

.side-bar-title {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.radio-option input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.radio-option label {
    position: relative;
    padding-left: 1.5em;
    cursor: pointer;
}

.hygiene-options .first {
    padding-left: 0;
}

.radio-option label::before {
    content: attr(value);
    position: absolute;
    z-index: -1;
    right: -7px;
    top: -1px;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: #fff;
}

.radio-option input[type="radio"]:checked + label::before {
    background-color: var(--main-yellow);
}

.radio-option input[type="radio"]:checked + label {
    color: white;
}

.category, .pub-type, .menu {
    margin-bottom: 0.5rem;
}

form button[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    width: 80%;
}

form button[type="submit"]:hover {
    border: 1px solid var(--main-yellow);
    background-color: var(--main-yellow);
    color: white;
}


@media only screen and (max-width: 768px) {
    /* Reduce font sizes and line height */
    h5, h6 {
        font-size: 0.8rem;
        line-height: 1.8rem;
    }

    h6 {
        font-size: 0.7rem;
        margin-bottom: 0.3rem;
    }

    /* Make navigation bar more compact */
    .nav {
        padding: 1rem;
    }

    /* Adjust content layout */
    .content {
        flex-wrap: wrap;
        padding: 0 1rem;
    }

    aside {
        width: 100%;
        border: none;
        padding: 0.5rem 0;
    }

    main {
        width: 100%;
        padding: 0.5rem 0;
    }

    .main-section {
        padding-left: 0;
    }

    /* Adjust button styles */
    .main-section button, button[type="submit"] {
        font-size: 0.8rem;
        padding: 0.3rem 0.5rem;
        margin-bottom: 0.5rem;
    }

    /* Adjust input styles */
    form input[type="text"], select {
        width: 100%;
        font-size: 0.8rem;
        padding: 0.2rem;
        margin-bottom: 0.3rem;
    }

    /* Adjust radio button styles */
    .radio-option label {
        font-size: 0.8rem;
    }

    .radio-option label::before {
        right: -5px;
        top: 0;
        width: 1em;
        height: 1em;
    }
}