:root {
    --main-black: #1E1C1D;
    --main-yellow: #F5BF00;
    --nav-height: 9rem; /* adjust this value to match the height of your nav */
    --radius: 3px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--main-black);
}

h5,h6{
    font-weight: bold;
    line-height: 2rem;
}

h5{
    text-transform: capitalize;
    font-size: 1rem;
}

h6{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.nav {
    background-image: url(https://cdn.glitch.global/85974b0f-fe91-442f-8a4c-842253acd2d4/thumbnails%2F13jour600.1.jpg?1681900725388);
    background-size: cover;
    background-position: center;
    padding: 1rem 4rem 2rem;
    min-height: var(--nav-height);
}

.content {
    display: flex;
    width: 100%;
}

.content > * {
    padding-top: 1.5rem;
}

aside {
    width: 20%;
    border-right: 2px solid var(--main-black);
    border-bottom: 2px solid var(--main-black);
    padding-left: 1rem;
    padding-bottom: 1rem;
    height: fit-content;
}


main {
    width: 80%;
    padding-right: 1rem;
}

.main-section{
    border-bottom: 2px solid var(--main-black);
    padding-left: 1rem;
}


.main-section button{
    text-transform: capitalize;
    padding: 0.5rem 1rem;
    border: 1px solid var(--main-black);
    background-color: transparent;
    border-radius: var(--radius);
    cursor: pointer;
    margin-bottom: 1rem;
}

.main-section button:nth-child(1){
    border: 1px solid var(--main-yellow);
    background-color: var(--main-yellow);
    color: white;
}

.main-content{
    padding-left: 1rem;
    padding-top: 1rem;
}

.main-content iframe{
    width: 100%;
    height: calc(100vh - var(--nav-height));
    border: none;
}

.hygiene-options{
    display: flex;
}

form label{
    font-size: 0.9rem;
    margin-left: 0.3rem;
}

form input[type="text"], select{
    width: 80%;
}

form input[type="text"], select{
    padding: 0.3rem;
    font-size: 1rem;
    border: 1px solid var(--main-black);
    border-radius: var(--radius);
    outline: none;
    margin-bottom: 0.5rem;
}

select  {
    font-size: 0.9rem !important;
}

.side-bar-title{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1.5rem;
}

.radio-option input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.radio-option label {
    position: relative;
    padding-left: 1.5em;
    cursor: pointer;
}

.hygiene-options .first{
    padding-left: 0;
}

.radio-option label::before {
    content: attr(value);
    position: absolute;
    z-index: -1;
    right: -7px;
    top: -1px;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: #fff;
}
.radio-option input[type="radio"]:checked + label::before {
    background-color: var(--main-yellow);
}

.radio-option input[type="radio"]:checked + label {
    color: white;
}

.category, .pub-type, .menu{
    margin-bottom: 0.5rem;
}
